exportPattern(CCM_boot, make_ccm_data, SSR_check_signal, ccmtest, multispatialCCM-internal, SSR_pred_boot)
useDynLib(multispatialCCM, .registration = TRUE)
importFrom("stats", "cor", "cor.test", "lm", "rlnorm", "rnorm", "runif", "sd")
